<div class="android-be-together-section mdl-typography--text-center">
  <div class="logo-font android-slogan">be together. not the same.</div>
  <div class="logo-font android-sub-slogan">welcome to android... be yourself. do your thing. see what's going on.</div>
</div>

<div class="android-more-section">

    <a [routerLink]="['/login']" class="btn btn-link">login</a>
    <button (click)="calculateNumbers()">click me</button>

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
 <!--   <h1 class="display-3">  <strong>{{currentUser.fullName}}</strong>, Homecca </h1>-->
    <h1 class="display-3">  <strong>User name here</strong>, Homecca </h1>
    <p class="lead"> welcome to your profile
    </p>


    <div class="row">

      <mat-card>
        <mat-form-field>
          <input matInput [(ngModel)]="answer" placeholder="Who has the best dev tutorials?">
        </mat-form-field>
      
        <br>
        
        <button mat-raised-button (click)="showAnswer()">Answer me</button>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card>
      
      
      <mat-card *ngIf="answerDisplay">
        <h1>{{ answerDisplay }}, you're damn right.</h1>
      </mat-card>


    </div>
  </header>

</div>

<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">More from Android</div>
  <div class="android-card-container mdl-grid">
   ljljkjkj
  </div>
</div>
