
  <div class="card card-container">
    <div class="android-more-section">

    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h3>Sign up</h3>

    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

           <span id="reauth-email" class="reauth-email"></span>




            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded"
                 [ngClass]="{ 'has-error': f.submitted && !fullName.valid }" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" type="text" name="fullName" id="fullName" [(ngModel)]="user.fullName"
                       #fullName="ngModel" required >
                <label class="mdl-textfield__label" for="fullName">Full Name</label>
                <span *ngIf="f.submitted && !fullName.valid" class="mdl-textfield__error">The full Name is required</span>
            </div>




            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email Address" [formControl]="emailFormControl" type="text" name="username" id="username"
                     [(ngModel)]="user.username" required>
              <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>

            <!-- div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded"
                 [ngClass]="{ 'has-error': f.submitted && !username.valid }" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" type="text" name="username" id="username" pattern="[^ @]*@[^ @]*"
                       [(ngModel)]="user.username" #username="ngModel" required >
                <label class="mdl-textfield__label" for="username">Email Address</label>
                <span class="mdl-textfield__error" *ngIf="f.submitted && !username.valid">
                   <div *ngIf="username.errors.required">
                      Email is required.
                    </div>
                    <div *ngIf="username.errors.pattern">
                      A valid email address is required
                    </div>
                </span>
            </div -->


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded"
                 [ngClass]="{ 'has-error': f.submitted && !password.valid }" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" type="password" name="password" id="password"[(ngModel)]="user.password" #password="ngModel" required minlength="4" >
                <label class="mdl-textfield__label" for="password">Password</label>
                <span class="mdl-textfield__error" *ngIf="f.submitted && !password.valid">
                  <div *ngIf="password.errors.required">
                    password is required.
                  </div>
                  <div *ngIf="password.errors.minlength">
                    password must be at least 4 characters long.
                  </div>
                </span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" type="text" id="fname" name="fname" value="">
                <label class="mdl-textfield__label" for="fname">First Name</label>
                <span class="mdl-textfield__error">Enter First Name</span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" type="text" id="lname" name="lname" value="">
                <label class="mdl-textfield__label" for="lname">Last Name</label>
                <span class="mdl-textfield__error">Enter Last Name </span>
            </div>


            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" id="mobile" name="mobile" value="">
                <label class="mdl-textfield__label" for="mobile">Mobile</label>
                <span class="mdl-textfield__error">Enter Mobile </span>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded" data-upgraded=",MaterialTextfield">
                <input class="mdl-textfield__input" id="phone" name="phone" value="">
                <label class="mdl-textfield__label" for="phone">Phone</label>
                <span class="mdl-textfield__error">Enter Phone </span>
            </div>


          <br>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                        data-upgraded=",MaterialButton,MaterialRipple" type="submit">Create Account</button>
                <button [routerLink]="['/login']" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"
                        data-upgraded=",MaterialButton,MaterialRipple" type="button">Cancel</button>


        </form>


    </div>

  </div><!-- /card-container -->
</div><!-- /container -->





